/* src/index.css */

@font-face {
  font-family: "Telegraf";
  src: url("./assets/fonts/Telegraf-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Telegraf", sans-serif;
}
